.mapOuter{
    position:relative;
    text-align:right;
    width:100%;
    height:500px;
    }
  .GMap_canvas {
    overflow:hidden;
    background:none!important;
    width:100%;
    height:400px;
    }
  .GMap_iframe {
    height:400px!important;
    }

