


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.backImage{
    /* background-image: url("pictures/rosebg11.jpg");
    background-repeat: no-repeat;
    background-size: contain; */
    background-color: #fce9ef;
    
}

.navHeader{
    
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "nav-logo nav-menu";
    padding: 5px 0;
    background-color: #e7acac;
}

.nav-logo{
    grid-area: nav-logo;
    display: grid;
    position: relative;
    padding-left: 30px;
    /* border: 1px solid red; */

}

.nav-menu{
    grid-area: nav-menu;
    display: grid;
    /* border: 1px solid blue; */
    margin: 0;
    padding-right: 20px;
    justify-content: end;
    align-items: center;
}



.nav-item a, .nav-item button{
    padding: 0 10px;
    color: #8f1919;
    text-decoration: none;
    background:none;
    border: none;
}

.nav-item a:hover, .nav-item button:hover{
    background-color: #ffd6d6;
}



.About-Menu{
    display: block;
    position: absolute;
    right: 0px;
    background: #e7acac;
}

.col-sm-2 img, .col-sm-3 img {
    transition: transform 1s;
  }
  
  .col-sm-2 img:hover, .col-sm-3 img:hover {
    transform: scale(1.2);
  }

 

@media screen and (max-width:768px) {
    .nav-logo a img{
        width: 80%;
        height: auto;
    }
    .nav-logo{
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        margin: 0;
    }
    .nav-menu{
        padding-right: 5px;
    }
    .nav-item a, .nav-item button{
        padding:0 5px;
        
    }
   
    #leftFooter,#rightFooter{
        display: none;
    }
}


.fa{
    padding:5px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
  }
  
 
  /* Add a hover effect if you want */
.fa:hover, .fas:hover {
    opacity: 0.7;
}
  
.fa-clock-o{
    background: #8f1919;
    color: white;
} 
.fa-phone{
    background: #8f1919;
    color: white;
}
  .fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-map-marker{
    background: #8f1919;
    color: white;
}
#footer{
    background: #e7acac;
}
